body{
    background: url("1.jpg");
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

#login_container {
    width: 400px;
    height: 455px;
    margin: 150px 150px 150px 100px;
}

