body{
	padding: 0px;
	margin: 0px auto;
	font-family: 'Titillium Web';
}
nav{
	margin-right:10%;
	padding:  0;
	display: flex;
	justify-content: flex-end;
}
header{
	background:url("img/back.jpg"); 
	background-size: cover;
    height: 100vh;
}

.logo{
	color: #6495ed;
	font-size: 28px;
	font-weight: 900;
}
.menu li{
	float: left;
	display: block;
	text-decoration: none;
}
.menu a{ 
	text-decoration: none;
	color: #717171;
	font-size: 20px;
	 
	padding: 10px 15px;
}
.menu a:hover{
    background-color: #CCB0BC;
}
.header_title{
    position: relative;
    top: 10%;
    color: #a28397; 
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 5px #CAA0B1;;
}
.container{
	display: flex;
	width: 90%;
	margin: 0 auto;
}
main{
	background-image: linear-gradient(  white , #DAE2E5);
	
}
.block{
	padding: 10px;
	 
	margin: 20px 0; 
	background-color: white;
}
.block_title{
    color: #CF4A8A;
    text-shadow: 2px 2px 10px plum;
    font-size: 28px;
}
 
.block_ul li{
	padding: 5px 0;
	font-size: 18px;
	 
}
.aside_box{
	margin-top:20px;
	margin-right: 20px;
	width: 400px;
	text-align: center;
	background-color: white;
	padding: 5px;
}
.aside_title{
	font-size: 25px;
	font-weight: 800;
	padding: 10px;

}
.aside_img{
	width: 300px;
	height: auto;
}
 
.aside_btn{
 	width: 100px;
	padding: 6px 10px;
	background-color: #ffd9e8;
	display: block;
	text-decoration: none;
	font-weight: 800;
	color: black;
	margin: 10px;
	margin-left: 35%;
}
.gallery{
	margin: 57px 0;
	display: flex;
	flex-wrap: wrap;
}
.gallery img{
	width: 400px;
	margin: 20px;
	height: auto;
}
footer{
    
	padding: 60px 0;
	background-color: rgb(29, 28, 28);
}
.footer{
	display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
 
.footer__left a:hover{
	background-color:  #000;
	opacity: 0.5;
} 

.footer__left a{
	color: #F6F5F3;
}
.footer__right{
	margin-right: 40px;
}
.footer__right i { 
	color: #F6F5F3;
	font-size: larger;
	margin-top: 20px;
	margin-right: 20px;
}

.footer__right i:hover{
	background-color:  #000;
	opacity: 0.5;
	cursor: pointer;
} 