body{
    background: url(img/wp2868839.jpg);
    background-attachment: fixed;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    color: #000000;
    font-style: oblique;

    font-size: 18px;
}
a{
    color: #000000;
    font-style: oblique;

    font-size: 18px;
}
h3{
    margin-top: 50px;

    font-size: 18px;
}
